// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.container {
  padding: 50px auto;
  margin: 50px 50px;
}

.link {
  padding: 50px auto;
  margin: 50px 50px;
}
a {
 text-decoration: none;
 color: rgb(60,60,150)
}

.banner {
  font-size: 60px;
}

#btn {
  background-color: rgb(100, 100, 190);
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 35px;
}
